<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
		                     https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
		 version="6.0"
		 metadata-complete="true">

	<display-name>Пример для дисциплины СПП (ИСиТ 7 сем)</display-name>
	<request-character-encoding>UTF-8</request-character-encoding>

	<context-param>
		<param-name>jdbc-driver</param-name>
		<param-value>org.postgresql.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>jdbc-url</param-name>
		<param-value>jdbc:postgresql://localhost:5432/msp_project_db</param-value>
	</context-param>
	<context-param>
		<param-name>jdbc-user</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>jdbc-password</param-name>
		<param-value>root</param-value>
	</context-param>

	<servlet>
		<servlet-name>RequestHandler</servlet-name>
		<servlet-class>by.vsu.msp.RequestHandler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RequestHandler</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NoteListServlet</servlet-name>
		<servlet-class>by.vsu.msp.controller.NoteListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoteListServlet</servlet-name>
		<url-pattern>/note/list.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NoteEditServlet</servlet-name>
		<servlet-class>by.vsu.msp.controller.NoteEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoteEditServlet</servlet-name>
		<url-pattern>/note/edit.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NoteSaveServlet</servlet-name>
		<servlet-class>by.vsu.msp.controller.NoteSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoteSaveServlet</servlet-name>
		<url-pattern>/note/save.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NoteDeleteServlet</servlet-name>
		<servlet-class>by.vsu.msp.controller.NoteDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoteDeleteServlet</servlet-name>
		<url-pattern>/note/delete.html</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>by.vsu.msp.web.ApplicationStartHandler</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>